@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family:  'Josefin Sans', 'sans-serif';
}
.menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #babae4;
}
.smenu {
    margin: 10px;
    font-family: 'inherit';
}
.carousel-inner img {
    width: 300px;
    height: 500px;
    margin: 20px;
}
.carousel-item img{
    width: 300px;
    height: 500px;
    margin: 40px;
}

/*codigo del menu de navegacion */


.col-sm img {
    width: 330px;
    height: 300px;
    margin-bottom: 30px;
}
.container {
    margin: 50px;
}

.container h3 {
 background-color: #babae4;
 text-align: center;
 letter-spacing: 0.03em;
 font-weight: bold;
}
.footer {
    background-color: #babae4;
    text-align: center;
    padding: 2em;
}